/* You can add global styles to this file, and also import other style files */



.full-width {
    width: 100%;
  }
  
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
.row {
    display: flex;
}

.col-left {
    flex-basis: 30%;
}

.col-right {
    flex-basis: 70%;
}

  .add-pass-button {
    float:right;
  }
  
